openapi: 3.2.0
info:
  title: Verisoul Public API
  version: 1.0.0
  contact:
    name: Verisoul Support
    url: https://verisoul.ai
    email: support@verisoul.ai
  description: 'Operations tagged Public across 2 of this provider''s published API definitions: verisoul-facematch-openapi.json, verisoul-idcheck-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sandbox.verisoul.ai
  description: Sandbox server
security:
- ApiKeyAuth: []
tags:
- name: Public
paths:
  /public/liveness-redirect:
    get:
      summary: Public redirect to Face Match
      description: A public endpoint that redirects to the Face Match verification page.
      operationId: redirectToFaceMatch
      tags:
      - Public
      security: []
      parameters:
      - name: project_id
        in: query
        description: Project ID for the verification
        required: true
        schema:
          type: string
          format: uuid
      - name: referring_session_id
        in: query
        description: ID of a referring session, if applicable
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '302':
          description: Redirect to verification page
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URL to redirect to
          content: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - missing_project_id
                    - groups_enabled
                    description: Error code indicating the reason for failure
              examples:
                missing_project_id:
                  summary: Missing project_id
                  value:
                    error: missing_project_id
                groups_enabled:
                  summary: Groups enabled on project
                  value:
                    error: groups_enabled
    servers:
    - url: https://api.sandbox.verisoul.ai
      description: Sandbox server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key authentication
x-refined-from:
- verisoul-facematch-openapi.json
- verisoul-idcheck-openapi.json
